@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.min.css");
/* font01-family: "Pretendard JP"; */

/*
 *****************************************
 * CSS Variables
 * ***************************************
 * Site : deepx
 * File : custom.css
 * DATE : 2024.10.24
 *
 * SUMMARY :
 * 1) Jupiter X Reset 
 * 2) HEADER
 * 3) MAIN
 * 4) FOOTER
 * 5) SUB
 * 6) RESPONSIBILITY

 * br01 - 767
 * br02 - 1024
 * br03 - 1380
 * br04 - 500
 * br05 - 
*/
/* ************************************************
/* ************************************************
*************** Jupiter X Reset *******************
************************************************* */
/* Reset */
.jupiterx-main-content > .container > .row{margin-right:0 !important; margin-left:0 !important;}
.jupiterx-main-content{padding:0 !important;}
.container,.jupiterx-main-content > .container > .row > [class*=col-]{padding-left:0 !important; padding-right:0 !important;}
.jupiterx-post-header{display:none !important;}
p{margin-bottom:0 !important;}
.wordBr{word-break:keep-all;}
.wordBr02{word-break:break-all;}
a {text-decoration: none !important;}
a:hover{text-decoration: none !important;}
svg{margin: 0 !important;}
.font01, .font01 div,.font01 a,.font01 p,.font01 span,.font01 h1, .font01 h2,.font01 h3,.font01 h4,.font01 h5,.font01 h6,.font01 input, .font01 textarea,.font01 button, .font01 label{font-family: "Pretendard JP", sans-serif !important; word-break: keep-all;}

.color_B{color: #005EEB !important;}

button.jupiterx-scroll-top{padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width: 52px; height: 52px; border-color: #E6E6E7; border-radius: 100px; background-color: #fff;}
button.jupiterx-scroll-top::before{content: ""; display: block; width: 16px; height: 20px; background: url(../../../../uploads/2024/11/scroll_arrow.svg) no-repeat center center / contain; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
button.jupiterx-scroll-top:focus{box-shadow: none;}
.raven-button .raven-button-content{z-index: inherit !important;}

/* ************************************************
********************* HEADER **********************
************************************************* */
/* Top bar */
#top_bar > div{transition: all 0 !important;}
#top_bar .close_btn .elementor-icon{cursor: pointer;}

.nav_menu nav > ul > li > a img{width: 20px; height: 20px;}
.nav_menu nav > ul > li > a .sub-arrow{display: none;}
.nav_menu nav > ul > li > .sub-menu{padding: 18px !important; width: 150px !important;}
.nav_menu nav > ul > li > .sub-menu img{width: 20px; height: 20px;}

.gnb-Career-menu a:hover img{content: url(../../../../uploads/link_arrow_b03.svg); }


/* ************************************************
******************** pop menu **********************
************************************************* */
.menu_pop li.current-menu-parent > a,
.menu_pop li.current-menu-item > a{border-bottom: none !important;}
.menu_pop li.current-menu-parent > a .sub-arrow svg path{fill: #fff;}
.menu_pop li.current-menu-parent > a.highlighted .sub-arrow svg path{fill: #fff;}
.menu_pop li > a.highlighted .sub-arrow svg path{fill: #fff;}
.menu_pop li > a.highlighted .sub-arrow{transform: rotate(180deg);}

.menu_pop a .sub-arrow{padding: 0;position: absolute; right: 8px;}
.menu_pop a .sub-arrow svg path{fill: #fff;}

.menu_pop ul.sub-menu li a{padding: 12px 11px !important; border-left: 0; font-weight: 500 !important;color: #B0B0B0 !important;}
.menu_pop ul.sub-menu li a.elementor-item-active{color: #fff !important;}

/* success */
#elementor-popup-modal-4077{display: none !important;}

/* ************************************************
*********************** MAIN **********************
************************************************* */
/* btn common */
.buynow_btn a .raven-button-icon{position: absolute !important; right: 24px;}
.detail_btn a .raven-button-icon{position: absolute !important; right: 0;}
.buynow_btn a:hover .raven-button-icon{right: -20px;}
.detail_btn a:hover .raven-button-icon{right: -24px;}
.buynow_btn_soon a{cursor: default !important;}
.buynow_btn_soon .raven-button-text{cursor: default !important;}

/* Usc_case_desc */
.Usc_case_desc{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}


/* sec01 */
#video_slide_wrap, #video_slide_wrap #main_slide_wrap, #video_slide_wrap #main_slide_wrap .swiper-slide > div {height: 543px;}
#video_slide_wrap #main_slide_wrap .swiper-slide video, #video_slide_wrap #main_slide_wrap .swiper-slide img{width: 100%; height: 100%; object-fit: cover;}

#video_slide_wrap #main_slide_wrap .swiper-slide img.moimg{display: none;}

#video_slide_wrap #main_slide_wrap .swiper-slide .slider-text{padding: 0 20px; display: flex; flex-wrap: wrap; gap: 20px; max-width: 1540px; width: 100%; position: absolute; top: 50px; left: 50%; transform: translateX(-50%); z-index: 10;}
#video_slide_wrap #main_slide_wrap .swiper-slide .slider-text h2{margin-bottom: 0; width: 100%; font-weight: 700; font-size: 56px; color: #fff; line-height: 128.6%; letter-spacing: -1.786px; }
#video_slide_wrap #main_slide_wrap .swiper-slide .slider-text div{width: 100%; font-weight: 500; font-size: 24px; color: #fff; line-height: 133.4%; letter-spacing: -0.552px; }
#video_slide_wrap #main_slide_wrap .swiper-slide .slider-text a{display: inline-block; padding: 5px 24px; border-radius: 100px; background-color: #fff; font-weight: 600; font-size: 16px; color: #000; line-height: 162.5%; letter-spacing: 0.091px; transition: all 0.3s;}
#video_slide_wrap #main_slide_wrap .swiper-slide .slider-text a:hover{color: #005EEB;}

#video_slide_wrap .gallery-thumbs{padding: 0 20px; max-width: 1540px; width: 100%; box-sizing: border-box; position: absolute; left: 50%; bottom: 64px; z-index: 100; transform: translateX(-50%);}
#video_slide_wrap #main_btn_wrap{justify-content: space-between;}
#video_slide_wrap #main_btn_wrap .swiper-slide{cursor: pointer; display: flex; align-items: center; justify-content: center; flex-direction: column; width: calc((100% - 90px) / 3) !important;}
#video_slide_wrap #main_btn_wrap .swiper-slide .thumbs-transition-wrap{margin-bottom: 10px; width: 100%; height: 2px; background-color: rgba(255,255,255,0.5); position: relative;}
#video_slide_wrap #main_btn_wrap .swiper-slide .thumbs-transition-wrap .thumbs-transition{position: absolute; z-index: -10; height: 100%; background-color: #fff; top: 0; left: 0; width: 0;}
#video_slide_wrap #main_btn_wrap .swiper-slide.swiper-slide-thumb-active .thumbs-transition-wrap .thumbs-transition{-webkit-transition: width 5s ease-out; -moz-transition: width 5s ease-out; -o-transition: width 5s ease-out; transition: width 5s ease-out; width: 100%;}
#video_slide_wrap #main_btn_wrap .swiper-slide p{overflow: hidden; width: 100%; font-weight: 600; font-size: 18px; color: #fff; line-height: 144.5%; letter-spacing: -0.004px; text-align: center; white-space: nowrap; text-overflow: ellipsis; }

/* sec03 */
#sec03 .ai_box .ai_img{overflow: hidden;}
#sec03 .ai_box .ai_img img{transition: all 1s;}
#sec03 .ai_box:hover .ai_img img{transform: scale(1.05);}


/* sec04 */
#sec04 .main_tab .jet-tabs__control-wrapper{overflow: unset; gap: 20px; width: 100%;}
#sec04 .main_tab .jet-tabs__control-wrapper .jet-tabs__control{flex: 1;}


/* Latest News */
.LatestNews_box .LatestNews_img{overflow: hidden;}
.LatestNews_box .LatestNews_img img{transition: all 1s;}
.LatestNews_box:hover .LatestNews_img img{transform: scale(1.05);}
.LatestNews_box .LatestNews_box_cate span:nth-child(2){display: none;}

/* Award */
#Award_slide{max-width: 1812px; width: 1812px;}
#Award_slide .slick-list .jet-carousel__item .jet-carousel__item-link{cursor: auto;}
#Award_slide_warp .jet-carousel{margin-left: -14px; margin-right: -14px; height: 100%;}
#Award_slide_arrow.prev-arrow .elementor-icon, #Award_slide_arrow.next-arrow .elementor-icon{cursor: pointer;}

/* DX Feed */
#DXFeed_desc .elementor-widget-container{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

/* ************************************************
********************* FOOTER **********************
************************************************* */
footer{padding: 0 !important;}
.f_menu_tiThover a:hover{color: #005EEB !important;}
.f_menu_tiThover a:hover img{content: url(../../../../uploads/2024/10/link_arrow_b03.svg);}
.f_menu_hover nav ul li a img{transition: all 0.3s;}
.f_menu_hover nav ul li a:hover img{content: url(../../../../uploads/2024/10/link_arrow_b02.svg);}

#Newsletter .form_input_wrap input:focus{outline: none;}
#Newsletter .form_input_wrap{display: flex; align-items: center; gap: 15px; height: fit-content;}
#Newsletter .form_input_wrap .form_input{flex: 1;}
#Newsletter .form_input_wrap .form_input span{display: block; width: 100%; height: 100%;}
#Newsletter .form_input_wrap .form_input input{padding: 12px 12px 12px 0; width: 100%; border-radius: 0; border: none;  border-bottom: 1px solid #fff; background-color: transparent; font-weight: 500; font-size: 15px; color: #C4C4C4; line-height: 162.5%; letter-spacing: 0.091px;}
#Newsletter .form_input_wrap .form_submit{width: 112px;}
#Newsletter .form_input_wrap .form_submit input{padding: 11px 20px; width: 100%; border-radius: 5px; border: 0px; background-color: #005EEB; font-weight: 600; font-size: 15px; color: #fff; line-height: 160%; letter-spacing: 0.144px;}

/* Change button color when clicked */
#Newsletter .form_input_wrap .form_submit input:active {
    background-color: #909090 !important;
    color: #333; /* text color changes when clicked (optional) */
}


#Newsletter input::placeholder{color: #5C5C5C;}
#Newsletter input::-webkit-input-placeholder{color: #5C5C5C;}
#Newsletter input:-ms-input-placeholder{color: #5C5C5C;}
#Newsletter .wpcf7-not-valid-tip{font-size: 12px !important; position: absolute; bottom: -17px; left: 0; width: 100% !important; height: auto !important;}
#Newsletter .form_input_wrap .wpcf7-spinner{display: none;}
#Newsletter .wpcf7-response-output{margin: 20px 0 10px; border: 1px solid #005EEB; font-size: 14px; color: #737373;}


/* ************************************************
************************ SUB ***********************
************************************************* */
.Career-menu a:hover img{content: url(../../../../uploads/2024/10/link_arrow.svg); width: 20px; height: 20px;}

/* Newsroom */
.Newsroom_post nav{display: flex; flex-wrap: wrap; justify-content: center; gap: 6px 0; align-items: center;}
.Newsroom_post nav .page-numbers{display: inline-block; width: 32px; height: 32px; border-radius: 4px; border: 1px solid #e9e9e9; line-height: 30px;}
.Newsroom_post nav .page-numbers.current{background-color: #06F;}
.Newsroom_post nav .page-numbers.prev{margin-right: 8px !important; line-height: 29px;}
.Newsroom_post nav .page-numbers.next{margin-left: 8px !important; line-height: 29px;}

/* sec09 */
.Media_box .elementor-image-box-wrapper{display: flex; height: 100%; flex-direction: column;justify-content: flex-end; }
.Media_box .elementor-image-box-wrapper .elementor-image-box-img{position: relative;}
.Media_box .elementor-image-box-wrapper .elementor-image-box-img:after{content: ""; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.Media_box .elementor-image-box-title{display: flex; justify-content: center;}
.Media_box .elementor-image-box-title a{padding: 12px 20px; display: block; width: 133px; border: 1px solid #E6E6E7; border-radius: 100px; transition: all 0.3s;}
.Media_box .elementor-image-box-title a:hover{color: #005EEB;}

/* contact form */
#Inquiry input:focus, #Inquiry select:focus , #Inquiry textarea:focus {outline: none;}
#Inquiry .form_input_wrap{margin-bottom: 20px; display: flex; gap: 12px; flex-wrap: wrap;} 
#Inquiry .form_input_wrap .form_input{display: flex; flex: 1;} 
#Inquiry .form_input_wrap .form_input p, 
#Inquiry .input_message p{display: flex; flex: 1; flex-wrap: wrap; height: fit-content;} 
#Inquiry .form_input_wrap .form_input p label, 
#Inquiry .input_message p label,
.Environment-tit{margin-bottom: 12px; width: 100%; font-weight: 600; font-size: 16px; color: #2A2A2A; line-height: 150%; letter-spacing: 0.091px;} 
#Inquiry .form_input_wrap .form_input p label span,
#Inquiry .input_message p label span{margin-left: 2px; font-weight: 400; font-size: 13px; color: #015EEB; letter-spacing: 0.26px; vertical-align: top;} 
#Inquiry .form_input_wrap .form_input p > span,
#Inquiry .input_message p > span{flex: 1;}
#Inquiry .form_input_wrap .form_input p > span > input,
#Inquiry .input_message p > span > textarea,
#Inquiry .form_input_wrap .form_input.radio p > span,
#Inquiry .form_input_wrap .form_input.sel p > span select{padding: 10px 45px 10px 16px; width: 100%; height: 60px; border: 1px solid #C4C4C4; background: #fff; font-weight: 500; font-size: 14px; color: #474747; line-height: normal;}
#Inquiry .form_input_wrap .form_input.sel p > span select{font-weight: 600; }


#Inquiry .form_input_wrap .form_input.sel p > span > select{ -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(../../../../uploads/2025/03/sel_arrow.svg) calc(100% - 16px) center no-repeat;}


#Inquiry .input_message{margin-bottom: 20px;}
#Inquiry .input_message p > span > textarea{height: 280px;}
#Inquiry .input_message.pro p em{font-style: normal; text-decoration-line: underline; text-underline-offset: 3px;}
#Inquiry .input_message.pro p > span > textarea{height: 150px;}


#Inquiry .form_acceptance_warp{display: flex; flex-direction: column; gap: 12px;}
#Inquiry .form_acceptance_warp .form_acceptance .wpcf7-form-control-wrap,
#Inquiry .form_acceptance_warp .form_acceptance .wpcf7-form-control,
#Inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item{display: block; width: 100%;}
#Inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item{margin: 0;}
#Inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item label{margin: 0; display: flex; width: fit-content;}
#Inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item .wpcf7-list-item-label{width: calc( 100% - 24px ); font-weight: 500; font-size: 13px; color: #737373; line-height: 142.9%; letter-spacing: 0.189px;}
#Inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item .wpcf7-list-item-label a{font-weight: 600; color: inherit; text-decoration-line: underline !important; text-underline-offset: 2px;}

#Inquiry .form_acceptance_warp .form_submit{margin-top: 18px; text-align: center;}
#Inquiry .form_acceptance_warp .form_submit p{position: relative;} 
#Inquiry .form_acceptance_warp .form_submit input{width: 300px; height: 54px; background: #005EEB; border: 0; border-radius: 100px; font-weight: 500; font-size: 22px; color: #FFF; line-height: 136.4%;  text-align: center; letter-spacing: -0.427px;}

#Inquiry .form_acceptance_warp input[type="checkbox"] {-webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0 8px 0 0; background: #fff; border-radius: 2px; cursor: pointer; width: 16px;  height: 16px; outline: 0; border: 1px solid #8A8A8A; padding: 0;}
#Inquiry .form_acceptance_warp input[type="checkbox"]:checked {background: #005EEB url(../../../../uploads/2025/03/check.svg) no-repeat center; border: 1px solid #005EEB;}

#Inquiry .wpcf7-not-valid-tip{font-size: 12px !important; position: absolute; bottom: -18px; left: 0; width: 100% !important;}
#Inquiry .input_message .wpcf7-not-valid-tip{bottom: -13px;}
#Inquiry .wpcf7-spinner{display: none !important;}



.Environment{margin-bottom: 20px;}
.Environment-wrap{padding: 10px 16px; border: 1px solid #C4C4C4; background: #fff; font-weight: 500; font-size: 13px; color: #2A2A2A; line-height: 142.9%;}
.Environment-wrap .Optional-wrap{display: flex; flex-direction: column; gap: 5px;}
.Environment-wrap .Optional-wrap.System{margin-bottom: 15px;}
.Environment-wrap .form_input label{margin: 0;}
.Environment-wrap p{display: flex; flex-wrap: wrap;}
.Environment-wrap span{width: 240px;}
.Environment-wrap .Versions span{width: 100px;}
.Environment-wrap input{padding: 0 0 0 3px; width: 100%; border: 0; background: #fff;}

.file-upload{display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px; height: 120px;  background-color: #F5F5F5; font-weight: 600; font-size: 14px; color: #2A2A2A; line-height: 150%; cursor: pointer;}
.files input[type="file"] {opacity:0; position:absolute; width:0; height:0;}
#Inquiry .files .wpcf7-not-valid-tip{width: 200px !important; bottom: 0;}

input::placeholder{font-size: 13px; color:#B0B0B0;}
input::-webkit-input-placeholder{font-size: 13px; color:#B0B0B0;}
input:-ms-input-placeholder{font-size: 13px; color:#B0B0B0;}
textarea::placeholder{font-size: 13px; color:#B0B0B0; line-height: 142.9%;}
textarea::-webkit-input-placeholder{font-size: 13px; color:#B0B0B0; line-height: 142.9%;}
textarea:-ms-input-placeholder{font-size: 13px; color:#B0B0B0; line-height: 142.9%;}

/* ai chips */
/* .pro_sub_menu nav ul li a{border: 1px solid #9B9B9B; border-radius: 100px;} */
/* .pro_sub_menu nav ul li a.elementor-item-active{border: 1px solid #FFF;} */
.pro_sub_menu.pro_sub_menu02 nav{overflow-x: scroll; -ms-overflow-style: none; scrollbar-width: none;}
.pro_sub_menu.pro_sub_menu02 nav:-webkit-scrollbar{display: none;}
.pro_sub_menu.pro_sub_menu02 nav ul{flex-wrap: nowrap;}

/* order form */
#Inquiry.order .form_input_wrap{margin-bottom: 40px;} 
#Inquiry.order .form_input_wrap .form_input{flex: unset; width: calc( (100% - 36px) / 4 );} 
#Inquiry.order .form_input_wrap .form_input.tel_wrap{flex-direction: column;} 
#Inquiry.order .form_input_wrap .form_input.tel_wrap > div{width: 100%; height: 60px; border: 1px solid #C4C4C4; background: #fff;} 
#Inquiry.order .form_input_wrap .form_input.tel_wrap > div p > span:first-child{flex: unset;} 
#Inquiry.order .form_input_wrap .form_input.tel_wrap > div p > span select{padding: 8px; width: 70px; height: 60px; border: 0; font-size: 14px; color: #474747; line-height: 100%; -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent url(../../../../uploads/2025/03/sel_arrow.svg) calc(100% - 10px) center no-repeat; background-size: 16px;} 
#Inquiry.order .form_input_wrap .form_input.tel_wrap > div p > span input{background-color: transparent; border: 0;}
#Inquiry.order .form_input_wrap .form_input.group{flex-direction: column;} 
#Inquiry.order .form_input_wrap .form_input.group .form_input{width: 100%;} 
#Inquiry.order .form_input_wrap .kit-group{display: flex; flex-wrap: wrap; gap: 12px; width: calc((100% - 12px) / 4 * 2); }
#Inquiry.order .form_input_wrap .kit-group .form_input{width: calc( (100% - 12px) / 2 );} 
#Inquiry.order .BasicPro_txt{width: 100%; font-weight: 400; font-size: 11px; color: #737373; line-height: 127.3%; letter-spacing: 0.342px;}
#Inquiry.order .bottom .input_message{margin-bottom: 0; width: calc((100% - 12px) / 2);}
#Inquiry.order .bottom .input_message p em{font-style: normal; text-decoration-line: underline; text-underline-offset: 3px;}
#Inquiry.order .bottom .input_message p > span > textarea{height: 150px;}
#Inquiry.order .form_acceptance_warp{gap: 60px;}
#Inquiry.order .form_acceptance_warp .form_submit{margin-top: 0;}

.baynow_post article > div{height: 100% !important;}
.baynow_post article > div .baynow_card{height: 100% !important;}
.baynow_post article > div .baynow_card .baynow_card_txt{align-content: space-between !important; height: 100% !important;}
.baynow_card .baynow_card_txt{align-content: space-between !important; height: 100% !important;}


/* DX TechBridge Kit */
.Kit_table .jet-table__head .jet-table__cell-text{display: flex; flex-direction: column; gap: 10px; align-items: center;}
.Kit_table .jet-table__head .jet-table__cell-text span{padding: 6px 14px; width: fit-content; font-size: 12px; color: #005EEB; line-height: 133.4%; border-radius: 100px; background-color: #F7F7F7;}
.Kit_table .jet-table__body .jet-table__body-row .jet-table__cell:first-child{border-right: 0.5px solid #dcdcdc;}
.Kit_table .jet-table__body .jet-table__body-row .jet-table__cell:nth-child(3){border-right: 0.5px solid #dcdcdc;}
.Kit_table .jet-table__body .jet-table__body-row .jet-table__cell:first-child .jet-table__cell-inner{padding: 10px 10px 10px 30px;}
.Kit_table .jet-table__body .jet-table__body-row .jet-table__cell:first-child .jet-table__cell-content{margin-left: 0; margin-right: 0;}

/* DX-M1 */
.pro-Resources .elementor-icon-list-item a{padding: 10px !important; flex-direction: row-reverse!important; justify-content: flex-end!important; gap: 10px;}
.pro-Resources .elementor-icon-list-item a .elementor-icon-list-text{padding-inline-start: 0 !important;}

.DX-M1-table .jet-table__head-row:first-child .jet-table__head-cell:first-child{border-width: 1px 0 1px 0 !important;}
.DX-M1-table .jet-table__body-row .jet-table__body-cell:first-child,
.DX-M1-table .jet-table__body-row + .jet-table__body-row .jet-table__body-cell:first-child{border-width: 0 0 1px 0 !important;}
.DX-M1-table .jet-table__body-row .jet-table__body-cell:last-child .jet-table__cell-content{margin-left: 0 !important; text-align: start !important;}
.DX-M1-table .jet-table__body-row + .jet-table__body-row .jet-table__body-cell.elementor-repeater-item-941e20c,
.DX-M1-table .jet-table__body-row + .jet-table__body-row .jet-table__body-cell.elementor-repeater-item-34ac69d{border-width: 0 0 1px 1px !important;}

/* DX-H1 V-NPU */
.DX-H1-table .jet-table__head-row:first-child .jet-table__head-cell:first-child{border-width: 1px 0 1px 0 !important;}
.DX-H1-table .jet-table__body-row .jet-table__body-cell:first-child,
.DX-H1-table .jet-table__body-row + .jet-table__body-row .jet-table__body-cell:first-child{border-width: 0 0 1px 0 !important;}
.DX-H1-table .jet-table__body-row .jet-table__body-cell:last-child .jet-table__cell-content{margin-left: 0 !important;}
.DX-H1-table .jet-table__body-row + .jet-table__body-row .jet-table__body-cell.elementor-repeater-item-4ac2dac,
.DX-H1-table .jet-table__body-row + .jet-table__body-row .jet-table__body-cell.elementor-repeater-item-6f5672c{border-width: 0 0 1px 1px !important;}
.DX-H1-V-NPU-Block-Diagram{height: -webkit-fill-available !important;}
.DX-H1-table02 ul{padding-left: 15px; margin-bottom: 0; text-align: start; font-size: 13px;}
.DX-H1-table02 ul li+li{margin-top: 8px;}
.DX-H1-table02 span{font-weight: 400; font-size: 16px !important;}
.DX-H1-table .jet-table__body-row .jet-table__body-cell:first-child, .DX-H1-table .jet-table__body-row + .jet-table__body-row .jet-table__body-cell:first-child {
    border-width: 0 0 1px 1px !important;
}

.DX-Vnpu-table .jet-table,
.DX-Vnpu-table .jet-table__cell:first-child {
    border-left: none !important;
}

.DX-Vnpu-table .jet-table__cell:nth-child(2) {
    border-left: 1px solid #c4c4c4 !important; 
}

.DX-Vnpu-table .jet-table__body-row td:only-child {
    border-left: 1px solid #c4c4c4 !important;
}

.DX-Vnpu-table .jet-table {
    border-collapse: collapse !important;
}


/* DX-M1M */
.DX-M1M-table .jet-table__body-cell[rowspan] .jet-table__cell-content,
.DX-M1M-table .jet-table__body-row > .jet-table__body-cell:first-child:not(:only-child) .jet-table__cell-content{margin-left: auto !important; margin-right: auto !important; text-align: center !important;}
.DX-M1M-table .jet-table__head-row > .jet-table__head-cell:first-child {border-left: 0 !important;}
.DX-M1M-table .jet-table__body-row > .jet-table__body-cell:first-child:not(:only-child) {border-left: 0 !important;}
.DX-M1M-RP > * {flex: 0 0 calc((100% - 60px) / 3);}
#DX-M1M-HIDEBOX {visibility: hidden;pointer-events: none;}

#dx-m1m-tab .main_tab .jet-tabs__control-wrapper{overflow: unset; gap: 20px; width: 100%;}
#dx-m1m-tab .main_tab .jet-tabs__control-wrapper .jet-tabs__control{flex: 1;}
@media (max-width: 767px) {
.elementor-9855 .elementor-element.elementor-element-896c8ce > .elementor-widget-container > .jet-tabs > .jet-tabs__control-wrapper > .jet-tabs__control .jet-tabs__label-text, .elementor-9855 .elementor-element.elementor-element-896c8ce > .elementor-widget-container > .jet-tabs > .jet-tabs__control-wrapper > .jet-tabs-swiper-container > .swiper-wrapper > .jet-tabs__control .jet-tabs__label-text {
        font-size: 14px;
        text-align: center;
    }
}


/* DXNN */
.overview_bg {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #EFF2F5 30%,
    #ffffff 60%,
    #ffffff 100%
  );
}
#DXNN.main_tab .jet-tabs__control-wrapper{overflow: unset; gap: 0;  width: 100%;}
#DXNN.main_tab .jet-tabs__control-wrapper .jet-tabs__control{flex: unset !important; width: 50% !important; height: stretch;}
#DXNN.main_tab .jet-tabs__control-wrapper .jet-tabs__control .jet-tabs__control-inner{height: stretch;}
#DXNN.main_tab .jet-tabs__control-wrapper .jet-tabs__control .jet-tabs__label-text{text-align: center;}


/* DX-V3 */
.DX-H1-table.DX-V3-table .jet-table__body-row .jet-table__body-cell.elementor-repeater-item-66b9616,
.DX-H1-table.DX-V3-table .jet-table__body-row .jet-table__body-cell.elementor-repeater-item-8ec81fe,
.DX-H1-table.DX-V3-table .jet-table__body-row .jet-table__body-cell.elementor-repeater-item-cf562e3{border-width: 0 0px 1px 1px !important;}

/* DX-H1 Quattro  */
#RelatedProducts .main_tab .jet-tabs__control-wrapper{overflow: unset; gap: 20px; width: 100%;}
#RelatedProducts .main_tab .jet-tabs__control-wrapper .jet-tabs__control{flex: 1;}

.DX-quat-table .jet-table,
.DX-quat-table .jet-table__cell:first-child {
    border-left: none !important;
}

.DX-quat-table .jet-table__cell:nth-child(2) {
    border-left: 1px solid #c4c4c4 !important; 
}

.DX-quat-table .jet-table__body-row td:only-child {
    border-left: 1px solid #c4c4c4 !important;
}

.DX-quat-table .jet-table {
    border-collapse: collapse !important;
}



/* Product Menu Separator */
#menu-1-97fbf15 li.menu-item-10957 {position: relative; padding-left: 40px;}
#menu-1-97fbf15 li.menu-item-10957::before {
    content: "";
    position: absolute;
    left: 20px;   
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 24px;
    background-color: #8a8a8a;
}


/* Our Story */
/* === 25-11-27 수정 === */
.OurStory-slide .jet-carousel {margin-left: 0;margin-right: 0;}
.OurStory-slide .jet-carousel .slick-slide .jet-carousel__item-inner {padding: 40px 20px;min-height: 560px;background-color: #fff;border: 1px solid #DCDCDC;display: flex;flex-direction: column;justify-content: center; align-items: center;text-align: center;gap: 20px;}
.OurStory-slide .jet-carousel .slick-slide .jet-carousel__thumbnail {display: flex;justify-content: center;align-items: center;min-height: 240px !important;}
.OurStory-slide .slick-slide img {max-height: 100%; width: auto; object-fit: contain;}
.OurStory-slide .jet-carousel .slick-slide .jet-carousel__item-inner .jet-carousel__content {display: flex;flex-direction: column;gap: 20px; justify-content: center !important;align-items: center !important; width: 100%;flex-grow: unset !important;text-align: center;}

.OurStory-slide .jet-carousel .jet-carousel__content .jet-carousel__item-text {order: 1;min-height: 208px;text-align: center;}
.OurStory-slide .jet-carousel .jet-carousel__content .jet-carousel__item-title {order: 2;text-align: center;}
.OurStory-slide .jet-carousel .jet-carousel__content .jet-carousel__item-title span {display: block;font-weight: 500;font-size: 24px;}
.OurStory-slide .jet-carousel .jet-carousel__content .elementor-button {order: 3;display: flex;justify-content: center;align-items: center;margin-left: auto;margin-right: auto;}
.OurStory-slide .jet-carousel .jet-carousel__content .elementor-button img {width: 24px;height: 24px;margin: 0;flex-grow: unset;}
.os-name {display: block;font-size: 28px !important;font-weight: 700 !important;}
.os-role {display: block;margin-top: 4px;font-size: 24px !important;font-weight: 500 !important;}
.OurStory-tab .jet-tabs__control-wrapper {overflow: unset;width: 100%;gap: 30px;}
.OurStory-tab .jet-tabs__control-wrapper .jet-tabs__control {flex: 1;}
.OurStory-tab-list ul {flex-wrap: nowrap !important;flex-direction: row;align-items: flex-start;}
.OurStory-tab-list ul li:first-child {width: 120px;}
.OurStory-tab-list ul li:last-child {width: calc(100% - 120px);}

/* shop now */

/* DX-AIPlayer  */
.DX-AIPlayer-slide .jet-carousel{margin-left: 0; margin-right: 0;}
.DX-AIPlayer-slide .jet-carousel .slick-list{overflow: unset;}
.DX-AIPlayer-Target ul li a{padding: 16px 24px; flex-direction: row-reverse; justify-content: space-between; background-color: #fff; border-radius: 10px; border: 1px solid #DDE6EE; transition: all 0.3s;}
.DX-AIPlayer-Target ul li:hover a{background-color: #005EEB;}
.DX-AIPlayer-Target ul li:hover a svg path{stroke:#fff;}


/*******************************************************/
/********************* RESPONSIVE **********************/
/******************************************************/
@media (max-width:1440px) {
    #message_slide, #message_slide > div, #message_slide .elementor-jet-carousel, #message_slide .jet-carousel-wrap, #message_slide .elementor-slick-slider, #message_slide .slick-list , #message_slide .slick-track{height: fit-content;}

    /* main */
    .Accolades_slide .prev-arrow{left: -5px !important;}
    .Accolades_slide .next-arrow{right: -5px !important;}
}
@media (max-width:1380px) {
    .br03{display: none;}
}
@media (max-width:1350px) {
    /* main */
    .award_slide .elementor-swiper-button-prev{left: -13px !important;}
    .award_slide .elementor-swiper-button-next{right: -13px !important;}
}
@media (max-width:1320px) {
    /* main */
    #message_slide .slick-list .jet-carousel__item .jet-carousel__content{padding: 25px;}
}
@media (max-width:1300px) {
    /* main */
    #banner_slide .jet-carousel__content{padding: 0px 20px 0px 50px;}
}
@media (max-width:1200px) {
    /* main */
    #sec04 .main_tab .jet-tabs__control-wrapper{flex-wrap: wrap; gap: 10px;}
    #sec04 .main_tab .jet-tabs__control-wrapper .jet-tabs__control{flex: unset; width: 190px;}
	
	/* DX-AIPlayer  */	
	.AIPlayer-scroll-txt01 div{font-size: 32px !important;}
	.AIPlayer-scroll-txt02 div{font-size: 22px !important;}
	.DX-AIPlayer-Target ul li a{padding: 14px 16px;}
}
@media (max-width:1100px) {
    /* header */
    #L_menu_wrap, #R_menu_wrap{gap: 20px;}
	#L_menu_wrap .hd_menu nav > ul > li > a, #R_menu_wrap .nav_menu nav > ul > li > a{font-size: 14px;}
}

@media (max-width:1024px) {
    .br02{display: none;}

    .buynow_btn a .raven-button-icon{right: 16px;}

    /* main */
    #video_slide_wrap, #video_slide_wrap #main_slide_wrap, #video_slide_wrap #main_slide_wrap .swiper-slide > div {height: 480px;}
    #video_slide_wrap #main_slide_wrap .swiper-slide .slider-text h2{font-size: 42px;}
    #video_slide_wrap #main_slide_wrap .swiper-slide .slider-text div{font-size: 20px;}
    #video_slide_wrap #main_slide_wrap .swiper-slide .slider-text a{padding: 5px 16px; font-size: 14px;}
    #video_slide_wrap .gallery-thumbs{bottom: 42px;}
    #video_slide_wrap #main_btn_wrap .swiper-slide{width: calc((100% - 54px) / 3) !important;}
    #video_slide_wrap #main_btn_wrap .swiper-slide .thumbs-transition-wrap{margin-bottom:5px;}
    #video_slide_wrap #main_btn_wrap .swiper-slide p{font-size: 14px;}

    #sec03_slide{position: relative;}
    #sec03_slide .slick-slide .jet-carousel__item-title a::after{width: 20px; height: 20px; right: -26px;}

    #sec04 .main_tab .jet-tabs__control-wrapper .jet-tabs__control{width: 130px;}

    #banner_slide .jet-carousel__item-link img{height: 320px; object-position: 80% center;}
    #banner_slide .jet-carousel__content{padding: 0px 0px 0px 30px; width: 60%;}
    #banner_slide .jet-slick-dots{margin: 15px 0px 0px 0px;}

    /* footer */
    #Newsletter .form_input_wrap .form_input input{padding: 10px 10px 10px 0; font-size: 14px;}
    #Newsletter .form_input_wrap .form_submit{width: 100px;}
    #Newsletter .form_input_wrap .form_submit input{padding: 10px 0; font-size: 15px;}

    /* contact form */
    #Inquiry .form_input_wrap .form_input p > span > input, #Inquiry .input_message p > span > textarea, #Inquiry .form_input_wrap .form_input.radio p > span, #Inquiry .form_input_wrap .form_input.sel p > span select{height: 54px;}
    #Inquiry .input_message p > span > textarea{height: 280px;}
    #Inquiry .form_acceptance_warp .form_submit input{width: 250px; height: 45px; font-size: 19px;}
    #Inquiry .form_input_wrap .form_input.sel p > span > select{background-size: 20px;}
    #Inquiry .form_input_wrap .form_input p label, #Inquiry .input_message p label, .Environment-tit{font-size: 14px;}

    /* order form */
    #Inquiry.order .form_input_wrap{margin-bottom: 20px;} 
    #Inquiry.order .form_input_wrap .form_input.tel_wrap > div, #Inquiry.order .form_input_wrap .form_input.tel_wrap > div p > span select{height: 54px;} 
    #Inquiry.order .form_input_wrap{margin-bottom: 40px; gap: 40px 12px;}
    #Inquiry.order .form_input_wrap.form03{gap: 40px 12px;}
    #Inquiry.order .form_input_wrap .form_input{flex: unset; width: calc( (100% - 12px) / 2 );} 
    #Inquiry.order .form_acceptance_warp{gap: 40px;}
    /* #Inquiry.order .BasicPro_txt{margin-top: -28px;} */
    #Inquiry.order .form_input_wrap .form_input.Quantity{width: 100%;}

    /* DX-H1 V-NPU */
    .DX-H1-table02 ul li+li{margin-top: 6px;}
    .DX-H1-table02 span{font-size: 14px !important;}

    /* Our Story */
    .OurStory-slide .jet-carousel .slick-slide .jet-carousel__item-inner{min-height: 460px;}
    .OurStory-slide .jet-carousel .slick-slide .jet-carousel__item-inner .jet-carousel__content .jet-carousel__item-text{min-height: 160px;}
    .OurStory-slide .jet-carousel .slick-slide .jet-carousel__item-inner .jet-carousel__content .jet-carousel__item-title span{font-size: 18px;}
    .OurStory-tab-list ul li:first-child{width: 110px;}
    .OurStory-tab-list ul li:last-child{width: calc(100% - 110px);}
	
		/* DX-AIPlayer  */	
	.AIPlayer-scroll-txt01 div{font-size: 26px !important;}
	.AIPlayer-scroll-txt02 div{font-size: 17px !important;}
	.DX-AIPlayer-Target ul li a{padding: 10px 10px;}

}
@media (max-width:1023px) {
    /* main */
    #message_slide{width: 800px;}
    #message_slide .jet-carousel{margin-left: -10px; margin-right: -10px;}
    #message_slide .slick-list .jet-carousel__item .jet-carousel__item-inner{margin: 0px 10px 0px 10px;}
    #message_slide .slick-list .jet-carousel__item .jet-carousel__content{padding: 25px;}
    #message_slide .slick-list .jet-carousel__item .jet-carousel__content .jet-carousel__item-title span{font-size: 16px;}

    /* Award */
    #Award_slide{max-width: 1000px; width: 1000px;}
    #Award_slide_warp .jet-carousel{margin-left: -10px; margin-right: -10px;}
    #Award_slide .slick-list .jet-carousel__item .jet-carousel__item-inner{margin: 0px 10px 0px 10px;}

    .Media_box{height: 180px;}
}
@media (max-width:890px) {
    /* order form */
    #Inquiry.order .form_input_wrap.form03 .form_input,  #Inquiry.order .bottom .input_message,#Inquiry.order .form_input_wrap.form03 .kit-group, #Inquiry.order .form_input_wrap.form03.pro_sel .kit-group .form_input{width: 100%;}
    #Inquiry.order .form_input_wrap .kit-group .form_input{width: calc((100% - 12px) / 2);}
    #Inquiry.order .form_input_wrap.form03.pro_sel > .form_input, #Inquiry.order .form_input_wrap.form03.pro_sel .kit-group{width: calc((100% - 12px) / 2);}
}
@media (max-width:767px) {
    .br01{display: none;}
    
    /* Top bar */ 
    #top_bar{display: flex;}
    #top_bar.is-hidden{display: none;}
    #top_bar .e-floating-bars__close-button{top: 9px; inset-inline-end: 7px;}

    /* main */
    #video_slide_wrap #main_slide_wrap .swiper-slide img.pcimg{display: none;}
    #video_slide_wrap #main_slide_wrap .swiper-slide img.moimg{display: block;}
    #video_slide_wrap, #video_slide_wrap #main_slide_wrap, #video_slide_wrap #main_slide_wrap .swiper-slide > div {height: 500px;}
    #video_slide_wrap #main_slide_wrap .swiper-slide .slider-text{gap: 10px; top: unset; bottom: 50px;}
    #video_slide_wrap #main_slide_wrap .swiper-slide .slider-text h2{font-size: 28px;}
    #video_slide_wrap #main_slide_wrap .swiper-slide .slider-text div{font-size: 18px;}
    #video_slide_wrap #main_slide_wrap .swiper-slide .slider-text a{padding: 5px 10px; font-size: 12px;}
    #video_slide_wrap .gallery-thumbs{bottom: 20px;}
    #video_slide_wrap #main_btn_wrap .swiper-slide{width: calc((100% - 16px) / 3) !important;}
    #video_slide_wrap #main_btn_wrap .swiper-slide .thumbs-transition-wrap{margin-bottom:0px;}
    #video_slide_wrap #main_btn_wrap .swiper-slide p{display: none;}

    #message_slide{width: 864px; position: relative;}
    #message_slide .jet-carousel{margin-left: -6px; margin-right: -6px;}
    #message_slide .slick-list .jet-carousel__item .jet-carousel__item-inner{margin: 0px 6px 0px 6px;}
    #message_slide .slick-list .jet-carousel__item .jet-carousel__content{padding: 18px 15px;}
    #message_slide .slick-list .jet-carousel__item .jet-carousel__content .jet-carousel__item-title{font-weight: 600;}
    #message_slide .slick-list .jet-carousel__item .jet-carousel__content .jet-carousel__item-title span{font-size: 12px;}
    
    #banner_slide .jet-carousel__item-link img{opacity: 0.7; height: 250px; object-position: 85% center;}
    #banner_slide .jet-carousel__content{padding: 0px 20px 0px 20px; width: 100%;}
    #banner_slide .jet-carousel__content .jet-carousel__item-text{font-weight: 600;}
    #banner_slide .jet-slick-dots{margin: 10px 0px 0px 0px;}

    /* #Media{overflow-x: scroll;}
    #Media_wrap{width: 830px;} */
    .Media_box{height: 220px;}
    .Media_box .elementor-image-box-title a{padding: 8px 0; width: 106px;}

    #sec03_slide .slick-slide .jet-carousel__item-title a::after{width: 16px; height: 16px; right: -22px;}

    #sec04 .main_tab .jet-tabs__control-wrapper .jet-tabs__control{width: 110px;}

    /* footer */
    .touch_btn .raven-button-text{font-weight: 500 !important;}
    .f_menu_hover nav ul li a img{width: 16px; height: 16px;}
    .Newsletter p{font-weight: 600 !important;}
    #Newsletter .form_input_wrap .form_input input{font-weight: 400; font-size: 12px;}
    #Newsletter .form_input_wrap .form_submit{width: 80px;}
    #Newsletter .form_input_wrap .form_submit input{padding: 9px 0; font-size: 14px;}

    /* contact form */
    #Inquiry .form_input_wrap .form_input p label, #Inquiry .input_message p label, .Environment-tit{font-size: 15px;}
    #Inquiry .form_input_wrap .form_input p > span > input, #Inquiry .input_message p > span > textarea, #Inquiry .form_input_wrap .form_input.radio p > span, #Inquiry .form_input_wrap .form_input.sel p > span select{padding: 10px 40px 10px 12px; height: 48px;}
    #Inquiry .input_message{margin-bottom: 20px;}
    #Inquiry .input_message p > span > textarea{height: 280px;}
    #Inquiry .form_acceptance_warp .form_submit input{height: 36px; font-size: 16px;}
    #Inquiry .form_input_wrap .form_input.sel p > span > select{background-size: 18px;}
    .file-upload{gap: 5px; height: 100px;}

    /* prodect */
    #pro_list_slide::before{content: ""; display: block; width: 20px; height: 100%; background-color: #fff; position: absolute; top: 0; left: -20px; z-index: 2;}
    #pro_list_slide .swiper{overflow: unset;}

    /* ai chips */
    .pro_sub_menu nav ul li a{border: 0; }
    .pro_sub_menu nav ul li a.elementor-item-active{border: 0;}

    /* order form */
    #Inquiry.order .form_input_wrap .form_input.tel_wrap > div, #Inquiry.order .form_input_wrap .form_input.tel_wrap > div p > span select{height: 48px;} 
    #Inquiry.order .form_input_wrap{margin-bottom: 20px;  gap: 20px 12px;}
    #Inquiry.order .form_input_wrap.form03{gap: 20px 12px;}
    #Inquiry.order .form_input_wrap .form_input{flex: unset; width: calc( (100% - 12px) / 2 );} 
    #Inquiry.order .form_acceptance_warp{margin-top: 40px; gap: 24px;}
    /* #Inquiry.order .BasicPro_txt{margin-top: -8px;} */

    .baynow_post article > div .baynow_card .baynow_card_txt{height: auto !important;}

    /* DX TechBridge Kit */
    .Kit_table .jet-table__body .jet-table__body-row .jet-table__cell:first-child .jet-table__cell-inner{padding: 10px 10px 10px 20px;}

    /* DX-H1 V-NPU */
    .DX-H1-table02 ul{font-size: 12px;}
    .DX-H1-table02 ul li+li{margin-top: 4px;}
    .DX-H1-table02 span{font-size: 13px !important;}

    /* Our Story */
    .OurStory-slide .jet-carousel .slick-slide .jet-carousel__item-inner{padding: 20px 15px; min-height: 400px;}
    .OurStory-slide .jet-carousel .slick-slide .jet-carousel__item-inner .jet-carousel__content .jet-carousel__item-text{min-height: 160px;}
    .OurStory-slide .jet-carousel .slick-slide .jet-carousel__item-inner .jet-carousel__content .jet-carousel__item-title span{font-size: 16px !important;}
    .OurStory-tab .jet-tabs__control-wrapper{gap: 10px;}
    .OurStory-tab-list ul{flex-direction: column; gap: 5px;}
    .OurStory-tab-list ul li:first-child,
    .OurStory-tab-list ul li:last-child{width: 100%;}
	
    /* 	DXNN */
	#DXNN.main_tab .jet-tabs__control-wrapper .jet-tabs__control{width: 100% !important;}
	
	
	/* DX-AIPlayer  */	
	.DX-AIPlayer-slide .jet-carousel__item{padding: 0px 10px 0px 10px !important;}
}
@media (max-width:766px) {
    /* Award */
    #Award_slide{max-width: 766px; width: 766px;}
    #Award_slide_warp .jet-carousel{margin-left: -6px; margin-right: -6px;}
    #Award_slide .slick-list .jet-carousel__item .jet-carousel__item-inner{margin: 0px 6px 0px 6px;}
}
@media (max-width:500px) {
    .br04{display: none;}

    /* main */
    #message_slide{width: 575px;}

    /* Award */
    #Award_slide{width: 580px;}

    /* contact form */
    #Inquiry .form_input_wrap{flex-wrap: wrap; gap: 20px;}
    #Inquiry .form_input_wrap .form_input{flex: unset; width: 100%;}
    #Inquiry .input_message.pro p > span > textarea{height: 130px;}
    #Inquiry .form_acceptance_warp .form_submit input{width: 100%;}

    /* order form */
    /* #Inquiry.order .form_input_wrap.form02{margin-bottom: 0;} */
    #Inquiry.order .form_input_wrap.form03{gap: 20px 12px;}
    #Inquiry.order .form_input_wrap > .form_input.group > .form_input{margin-bottom: 20px;}
    #Inquiry.order .form_input_wrap .form_input{width: 100%;} 
    #Inquiry.order .bottom .input_message p > span > textarea{height: 130px;}
    #Inquiry.order .form_input_wrap.form05 .form_input{width: calc((100% - 12px) / 2);}
}
@media (max-width:450px) {
    /* order form */
    #Inquiry.order .form_input_wrap.form03{gap: 20px;}
    #Inquiry.order .form_input_wrap.form03 .kit-group{flex-wrap: wrap; gap: 20px;}
    #Inquiry.order .form_input_wrap .kit-group .form_input, #Inquiry.order .form_input_wrap.form03.pro_sel > .form_input, #Inquiry.order .form_input_wrap.form03.pro_sel .kit-group{width: 100%;}
    #Inquiry.order .BasicPro_txt{margin-top: -8px;}

}
@media (max-width:425px) {
    /* main */
    #sec04 .main_tab .jet-tabs__control-wrapper{gap: 0;}
    #sec04 .main_tab .jet-tabs__control-wrapper .jet-tabs__control{width: 50%;}
    /* #sec04 .main_tab .jet-tabs__control-wrapper .jet-tabs__control:last-child{width: 100%;} */

}