/* Custom CSS */
.flex_1{flex:1;}
.btn_primary .raven-button-icon svg{fill:none !important;}
.btn_primary .raven-button-icon svg,
.shop_slide .raven-slide-button.elementor-size-xs svg{transition:all .9s ease;}
.btn_primary .raven-button:hover .raven-button-icon svg,
.shop_slide .raven-slide-button.elementor-size-xs:hover svg{transform:translatex(80px);}
.no_br br{display:none;}

.ft_menu .sub{margin-right:4px;}


/* MAIN */
.main_detail_btn .raven-button-texts-wrapper {padding-right:39px;}
.main_text_line5 .elementor-image-box-description{ text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;  -webkit-line-clamp: 5; line-height:1.45em; height:7.25em;}
.main_detail_btn .raven-button-icon svg{opacity: 1 !important; visibility: visible !important; transition: none !important; -webkit-transition: none !important;}
.story_img{height:100%;}

#DXFeed_desc .elementor-widget-container{line-height:1.4em; height:2.8em;}
   
.ft_mailform .elementor-form-fields-wrapper{flex-direction:row;}
.ft_mailform .elementor-form-fields-wrapper .elementor-field-type-email{flex:1;}
.ft_mailform .elementor-form-fields-wrapper .elementor-field-type-submit{width:auto;}

/* SUB MENU */
.sub_menu .current-page-ancestor .elementor-item{color:#fff !important;}
.sub_menu .current-page-ancestor .elementor-item::after{opacity:1 !important; height: 3px !important; left: 0 !important; width: 100% !important; z-index: 2;}

/* Header, Footer MENU */
.hd_menu nav > ul > li > a img{max-height:20px;}
.ft_menu_wrap .gnb-Career-menu img{max-height:16px;}


/* Success Stories */
.solution_blog .side_menu .raven-link-item{align-items: flex-start !important;}
.solution_blog .side_menu .raven-link-item svg {margin-top:10px !important;}
.solution_blog .side_menu .raven-link-item .link-text{flex:1;}

.subscribe_form .elementor-field-type-acceptance{order:3; }
.subscribe_form .elementor-field-type-acceptance .elementor-field-option {display:flex; align-items:flex-start; gap:5px;}
.subscribe_form .elementor-field-type-acceptance .elementor-field-option input{margin-top:3px;}
.subscribe_form .elementor-field-type-acceptance label{color:#737373 !important; font-weight: 500 !important; line-height: 133.4% ; letter-spacing: 0.302px;}

/* TAB */
.tab_wrap .jet-tabs__control-wrapper {overflow: unset; width:100%;}
.tab_wrap .jet-tabs__control-wrapper .jet-tabs__control{flex: 1;}

/* SHOP */
.shop_slide .swiper-slide-inner{max-width:1500px;}
.shop_slide .raven-slide-button.elementor-size-xs{height:36px; display:flex !important; justify-content: space-between; align-items:center; gap:10px; padding:10px 24px; width: max-content; overflow:hidden;}
.shop_slide .raven-slide-button.elementor-size-xs svg{transition:all .6s ease;}
.shop_slide .raven-slide-button.elementor-size-xs:hover svg{transform:translatex(80px);}

/*.shop_now_pr_list  .swiper-slide > .elementor-element{height:auto !important;} */
.shop_now_pr_list  .swiper-slide > .elementor-element{height:100% !important;}
.shopnow_card_txt{height:100% !important;}

.prd_card_swiper .elementor-swiper-button:not(.swiper-button-disabled) svg circle,
.prd_card_swiper .elementor-swiper-button:not(.swiper-button-disabled) svg path {stroke:#005EEB !important;}
/* ai-gateway 개수 늘어나면 지워주세요 */
#ai-gateway .prd_card_swiper .elementor-swiper-button:not(.swiper-button-disabled) svg circle,
#ai-gateway .prd_card_swiper .elementor-swiper-button:not(.swiper-button-disabled) svg path {stroke:#c4c4c4 !important;}


.dxnn_swiper .elementor-swiper-button:not(.swiper-button-disabled) svg circle,
.dxnn_swiper .elementor-swiper-button:not(.swiper-button-disabled) svg path {stroke:#f4f4f4 !important;}


/* SUB- Sales Distributors */
.regions_tab .jet-list-tree__children.jet-list-content-collapsed:not(:last-child){display:block !important;}
.regions_tab .jet-list-tree__children.jet-list-content-collapsed {padding-left:30px !important;}

/* contact form */
.shop_inquiry input:focus, 
.shop_inquiry select:focus, .shop_inquiry textarea:focus {outline: none;}
.shop_inquiry .form_input_wrap{margin-bottom: 20px; display: flex; gap: 12px; flex-wrap: wrap;} 
.shop_inquiry .form_input_wrap .form_input{display: flex; flex: 1;} 
.shop_inquiry .form_input_wrap .form_input p, 
.shop_inquiry .input_message p{display: flex; flex: 1; flex-wrap: wrap; height: fit-content;} 
.shop_inquiry .form_input_wrap .form_input p label, 
.shop_inquiry .input_message p label,
.Environment-tit{margin-bottom: 12px; width: 100%; font-weight: 600; font-size: 16px; color: #2A2A2A; line-height: 150%; letter-spacing: 0.091px;} 
.shop_inquiry .form_input_wrap .form_input p label span,
.shop_inquiry .input_message p label span{margin-left: 2px; font-weight: 400; font-size: 13px; color: #015EEB; letter-spacing: 0.26px; vertical-align: top;} 
.shop_inquiry .input_message p label em{font-style:normal; text-decoration:underline; text-underline-offset: 3px; text-decoration-skip-ink: none; text-decoration-thickness: auto;}
.shop_inquiry .form_input_wrap .form_input p > span,
.shop_inquiry .input_message p > span{flex: 1;}
.shop_inquiry .form_input_wrap .form_input p > span > input,
.shop_inquiry .input_message p > span > textarea,
.shop_inquiry .form_input_wrap .form_input.radio p > span,
.shop_inquiry .form_input_wrap .form_input.sel p > span select{padding: 10px 45px 10px 16px; width: 100%; height: 60px; border: 1px solid #C4C4C4; background: #fff; font-weight: 500; font-size: 14px; color: #474747; line-height: normal;}
.shop_inquiry .form_input_wrap .form_input.sel p > span select{font-weight: 600; }
.shop_inquiry .form_input_wrap .form_input.sel p > span > select{ -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(../../../../uploads/2025/03/sel_arrow.svg) calc(100% - 16px) center no-repeat;}

.shop_inquiry .input_message{margin-bottom: 20px;}
.shop_inquiry .form_input_wrap.form04 textarea{height: 150px;}
.shop_inquiry .form_input_wrap.form06 textarea{height: 280px;}
.shop_inquiry .input_message.pro p em{font-style: normal; text-decoration-line: underline; text-underline-offset: 3px;}

.shop_inquiry .form_acceptance_warp{display: flex; flex-direction: column; gap: 12px;}
.shop_inquiry .form_acceptance_warp .form_acceptance .wpcf7-form-control-wrap,
.shop_inquiry .form_acceptance_warp .form_acceptance .wpcf7-form-control,
.shop_inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item{display: block; width: 100%;}
.shop_inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item{margin: 0;}
.shop_inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item label{margin: 0; display: flex; width: fit-content;}
.shop_inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item .wpcf7-list-item-label{width: calc( 100% - 24px ); font-weight: 500; font-size: 13px; color: #737373; line-height: 142.9%; letter-spacing: 0.189px;}
.shop_inquiry .form_acceptance_warp .form_acceptance .wpcf7-list-item .wpcf7-list-item-label a{font-weight: 600; color: inherit; text-decoration-line: underline !important; text-underline-offset: 2px;}

.shop_inquiry .form_acceptance_warp .form_submit{margin-top: 18px; text-align: center;}
.shop_inquiry .form_acceptance_warp .form_submit p{position: relative;} 
.shop_inquiry .form_acceptance_warp .form_submit input{width: 300px; height: 54px; background: #005EEB; border: 0; border-radius: 100px; font-weight: 500; font-size: 22px; color: #FFF; line-height: 136.4%;  text-align: center; letter-spacing: -0.427px;}

.shop_inquiry .form_acceptance_warp input[type="checkbox"] {-webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0 8px 0 0; background: #fff; border-radius: 2px; cursor: pointer; width: 16px;  height: 16px; outline: 0; border: 1px solid #8A8A8A; padding: 0;}
.shop_inquiry .form_acceptance_warp input[type="checkbox"]:checked {background: #005EEB url(../../../../uploads/2025/03/check.svg) no-repeat center; border: 1px solid #005EEB;}

.shop_inquiry .wpcf7-not-valid-tip{font-size: 12px !important; position: absolute; bottom: -18px; left: 0; width: 100% !important;}
.shop_inquiry .input_message .wpcf7-not-valid-tip{bottom: -13px;}
.shop_inquiry .wpcf7-spinner{display: none !important;}

/* order form */
.shop_inquiry .form_input_wrap{margin-bottom: 40px;} 
.shop_inquiry .form_input_wrap .form_input{flex: unset; width: calc( (100% - 36px) / 4 );} 
.shop_inquiry .form_input_wrap .form_input.tel_wrap{flex-direction: column;} 
.shop_inquiry .form_input_wrap .form_input.tel_wrap > div{width: 100%; height: 60px; border: 1px solid #C4C4C4; background: #fff;} 
.shop_inquiry .form_input_wrap .form_input.tel_wrap > div p > span:first-child{flex: unset;} 
.shop_inquiry .form_input_wrap .form_input.tel_wrap > div p > span select{padding: 8px; width: 70px; height: 60px; border: 0; font-size: 14px; color: #474747; line-height: 100%; -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent url(../../../../uploads/2025/03/sel_arrow.svg) calc(100% - 10px) center no-repeat; background-size: 16px;} 
.shop_inquiry .form_input_wrap .form_input.tel_wrap > div p > span input{background-color: transparent; border: 0;}
.shop_inquiry .form_input_wrap .form_input.group{flex-direction: column;} 
.shop_inquiry .form_input_wrap .form_input.group .form_input{width: 100%;} 
.shop_inquiry .form_input_wrap .kit-group{display: flex; flex-wrap: wrap; gap: 12px; width: calc((100% - 12px) / 4 * 2); }
.shop_inquiry .form_input_wrap .kit-group .form_input{width: calc( (100% - 12px) / 2 );} 
.shop_inquiry .BasicPro_txt{width: 100%; font-weight: 400; font-size: 11px; color: #737373; line-height: 127.3%; letter-spacing: 0.342px;}
.shop_inquiry .input_message{margin-bottom: 0; width: calc((100% - 12px) / 2);}
.shop_inquiry .input_message p em{font-style: normal; text-decoration-line: underline; text-underline-offset: 3px;}
.shop_inquiry .form_acceptance_warp{gap: 60px;}
.shop_inquiry .form_acceptance_warp .form_submit{margin-top: 0;}
.shop_inquiry .wpcf7 .wpcf7-submit:disabled{background-color:#DCDCDC; color:#B0B0B0;}
.shop_inquiry .input_message{flex:1;}


@media screen and (min-width: 767px)  {
	.main_tab .jet-tabs__control-wrapper{gap:0 !important;}
	.main_tab .jet-tabs__control-wrapper .jet-tabs__control{flex:1 !important; width:auto !important;}
}


@media screen and (min-width: 1401px)  {
	.main_tab .jet-tabs__control-wrapper .jet-tabs__control:last-child{flex:1.13 !important;}
}


@media screen and (max-width: 1400px) and (min-width: 1100px)  {
	.main_tab .jet-tabs__control-wrapper .jet-tabs__control:last-child{flex:1.4 !important;}
}

@media screen and (max-width: 1101px) and (min-width: 768px)  {
	.main_tab .jet-tabs__control-wrapper .jet-tabs__control:last-child{flex:1.6 !important;}
}




@media screen and (max-width: 1124px) {
	.shop_inquiry .form_input_wrap.form04{flex-direction:column;}
	.shop_inquiry .form_input_wrap.form04 .input_message{width:100%;}
}

@media screen and (min-width: 1025px) {
	.prd_card_swiper .swiper-slide.e-loop-item {max-width:calc(33.3% - 14px);}
}



@media screen and (max-width: 1024px) and (min-width: 768px) {
	.prd_card_swiper .swiper-slide.e-loop-item {max-width:calc(50% - 6px);}
}


@media screen and (max-width: 1024px) {
	/* order form */
	.shop_inquiry.order .form_input_wrap{margin-bottom: 20px;} 
	.shop_inquiry.order .form_input_wrap .form_input.tel_wrap > div, .shop_inquiry.order .form_input_wrap .form_input.tel_wrap > div p > span select{height: 54px;} 
	.shop_inquiry.order .form_input_wrap{margin-bottom: 40px; gap: 40px 12px;}
	.shop_inquiry.order .form_input_wrap.form03{gap: 40px 12px;}
	.shop_inquiry.order .form_input_wrap .form_input{flex: unset; width: calc( (100% - 12px) / 2 );} 
	.shop_inquiry.order .form_acceptance_warp{gap: 40px;}
	.shop_inquiry.order .form_input_wrap .form_input.Quantity{width: 100%;}
	
	.shop_inquiry .form_input_wrap.form04 textarea{height: 120px;}
	.shop_inquiry .form_input_wrap.form06 textarea{height: 150px;}
}

@media (max-width:890px) {
    /* order form */
    .shop_inquiry.order .form_input_wrap.form03 .form_input,  .shop_inquiry.order .bottom .input_message,.shop_inquiry.order .form_input_wrap.form03 .kit-group, .shop_inquiry.order .form_input_wrap.form03.pro_sel .kit-group .form_input{width: 100%;}
    .shop_inquiry.order .form_input_wrap .kit-group .form_input{width: calc((100% - 12px) / 2);}
    .shop_inquiry.order .form_input_wrap.form03.pro_sel > .form_input, .shop_inquiry.order .form_input_wrap.form03.pro_sel .kit-group{width: calc((100% - 12px) / 2);}
}


@media screen and (min-width: 768px) {
	.desc li:not(:last-child){margin-bottom:10px;}
}


@media screen and (max-width: 767px) {
	/* main tab */
	.main_tab .jet-tabs__control-wrapper .jet-tabs__control:not(:last-child){width:calc(50% - 5px) !important;}
	.main_tab .jet-tabs__control-wrapper .jet-tabs__control:last-child{width:100% !important;}
	
	.desc li:not(:last-child){margin-bottom:7px;}
	
    /* contact form */
    .shop_inquiry .form_input_wrap .form_input p label,.shop_inquiry .input_message p label, .Environment-tit{font-size: 15px;}
    .shop_inquiry .form_input_wrap .form_input p > span > input,.shop_inquiry .input_message p > span > textarea,.shop_inquiry .form_input_wrap .form_input.radio p > span,.shop_inquiry .form_input_wrap .form_input.sel p > span select{padding: 10px 40px 10px 12px; height: 48px;}
    .shop_inquiry .input_message{margin-bottom: 20px;}
    .shop_inquiry .input_message p > span > textarea{height: 120px;}
    .shop_inquiry .form_acceptance_warp .form_submit input{height: 36px; font-size: 16px;}
    .shop_inquiry .form_input_wrap .form_input.sel p > span > select{background-size: 18px;}
    .file-upload{gap: 5px; height: 100px;}

    /* order form */
    .shop_inquiry.order .form_input_wrap .form_input.tel_wrap > div, .shop_inquiry.order .form_input_wrap .form_input.tel_wrap > div p > span select{height: 48px;} 
    .shop_inquiry.order .form_input_wrap{margin-bottom: 20px;  gap: 20px 12px;}
    .shop_inquiry.order .form_input_wrap.form03{gap: 20px 12px;}
    .shop_inquiry.order .form_input_wrap .form_input{flex: unset; width: calc( (100% - 12px) / 2 );} 
    .shop_inquiry.order .form_acceptance_warp{margin-top: 40px; gap: 24px;}
	
	.shop_now_pr_list .swiper-slide > .elementor-element{height: auto !important;}
}


@media (max-width:500px) {
    /* contact form */
    .shop_inquiry .form_input_wrap{flex-wrap: wrap; gap: 20px;}
    .shop_inquiry .form_input_wrap .form_input{flex: unset; width: 100%;}
    .shop_inquiry .input_message.pro p > span > textarea{height: 130px;}
    .shop_inquiry .form_acceptance_warp .form_submit input{width: 100%;}

    /* order form */
    .shop_inquiry.order .form_input_wrap.form03{gap: 20px 12px;}
    .shop_inquiry.order .form_input_wrap > .form_input.group > .form_input{margin-bottom: 20px;}
    .shop_inquiry.order .form_input_wrap .form_input{width: 100%;} 
    .shop_inquiry.order .bottom .input_message p > span > textarea{height: 130px;}
    .shop_inquiry.order .form_input_wrap.form05 .form_input{width: calc((100% - 12px) / 2);}
}
@media (max-width:450px) {
    /* order form */
    .shop_inquiry.order .form_input_wrap.form03{gap: 20px;}
    .shop_inquiry.order .form_input_wrap.form03 .kit-group{flex-wrap: wrap; gap: 20px;}
    .shop_inquiry.order .form_input_wrap .kit-group .form_input, .shop_inquiry.order .form_input_wrap.form03.pro_sel > .form_input, .shop_inquiry.order .form_input_wrap.form03.pro_sel .kit-group{width: 100%;}
    .shop_inquiry.order .BasicPro_txt{margin-top: -8px;}
}

